.table {
  width: 100%;
  border-collapse: collapse;
}
.header {
  padding: 8px;
  text-transform: capitalize;
}
.row {
  border-bottom: 1px solid white;
}
.cell {
  padding: 6px;
  text-align: center;
}
.deposit {
  font-weight: 500;
  color: green;
}
.withdrawal {
  font-weight: 500;
  color: red;
}
.title {
  padding-right: 10px;
}
.balance {
  justify-content: right;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0;
  display: flex;
}
