.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "backLink accountsTitle newTransactionBtn"
    "transactions transactions transactions";
}

.backLink {
  grid-area: backLink;
  display: flex;
  align-items: center;
}

.title {
  grid-area: accountsTitle;
}

.action {
  grid-area: newTransactionBtn;
  justify-self: end;
  max-height: 40px;
}

.contentBody {
  margin-top: 2rem;
  grid-area: transactions;
}
