.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "accountsTitle newTransactionBtn"
    "transactions transactions";
}

.title {
  grid-area: accountsTitle;
}

.action {
  grid-area: newTransactionBtn;
  justify-self: end;
  max-height: 40px;
}

.contentBody {
  margin-top: 2rem;
  grid-area: transactions;
}
