.card {
  margin: 1rem;
  max-height: 14rem;
}

.deleteBtn:hover {
  color: black;
}

.content {
  color: gray;
}

.actions {
  justify-content: right;
}

.link {
  font-size: 12px;
  font-weight: 500;
  color: #1976d2;
  border-radius: 6px;
  padding: 4px;
}

.link:hover {
  background-color: lightgray;
}
